.login_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1{
        font-weight: 400;
        font-size: 40px;
        margin-bottom: 10px;
    }
    p{
        font-size: 16px;
        color: #dadfe1;
        margin-bottom: 40px;
        a{
            text-decoration: none;
            color: #50b7e3;
        }
    }
    div{
        .flag-dropdown{
            background-color: transparent !important;
            border: 2px solid #008069 !important;
            color: black !important;
        }
        input{
            background-color: transparent !important;
            color: #dadfe1;
            border: 2px solid #008069 !important;
            outline: none !important;
        }
    }
}
