 .left_div{
        display: flex;
        flex-direction: column;
        width: 35%;
        height: 96vh;
        border-right: 1px solid #2f3b43;
        position: relative;

        

        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background-color: #202c33;
            padding: 10px 20px;

            .user_info{
                img{
                    border-radius: 50%;
                    width: 40px;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0;
                    span{
                        font-size: 12px;
                        color: #aebac1;
                    }
                }
            }
            div{
                display: flex;
                align-items: center;
                gap: 20px;

                svg{
                    font-size: 24px;
                    cursor: pointer;
                    color:#aebac1;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
        .search_div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            margin: 10px;

            svg{
                color: #aebac1;
                font-size: 20px;
                cursor: pointer;
                &:hover{
                    color: white;
                }
            }
            div{
                display: flex;
                align-items: center;
                gap: 20px;
                background-color: #202c33;
                padding: 10px 20px;
                border-radius: 8px;
                width: 100%;
                transition: 0.5 ease all;

                input{
                    background-color: transparent;
                    outline: none;
                    border: none;
                    color: #aebac1;
                    font-size: 16px;
                    width: 100%;
                }
            }
        }
        .chats_footer{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3px;
            margin: 20px;
            padding: 15px;
            border-top: 1px solid rgba(134,150,160,0.15);
            svg{
                font-size: 14px;
                color: #aebac1;
            }
            p{
                font-size: 14px;

                a{
                    color: #50b7e3;
                    text-decoration: none;
                }
            }
        }
        .contacts{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #008069;
            cursor: pointer;
            padding: 20px;
            color: white;
            border-radius: 50%;
            position: absolute;
            bottom: 40px;
            right: 30px;
            box-shadow: 0 0 10px rgba(0, 128, 105, 0.5);
            transition: 0.3s ease all;
            &:hover {
                box-shadow: 0 0 20px rgba(0, 128, 105, 0.5);
            }
        }
    }
    .contacts_modal{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-width: 500px;
        max-height: 80vh;
        width: min-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vh;
        background-color: #111b21;
        padding: 20px 20px;
        border-radius: 10px;
        border: none;
        outline: none;

        .contacts_title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;

            svg{
                cursor: pointer;
            }
        }
        .contacts{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: left;
            gap: 5px;
            max-height: 80vh;
            overflow: auto;
            .contact{
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;

                padding: 10px;
                cursor: pointer;
                img{
                    width: 50px;
                    border-radius: 50%;
                }
                p{
                    font-size: 16px;
                    font-weight: 500;
                }
                &:hover{
                    background-color: #202c33;
                }
            }
        }
        .addContact{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: #008069;
            padding: 10px 30px;
            border-radius: 20px;
            margin-top: 20px;

        }
    }